{{#each posts as |post|}}
{{!--  --}}
    <a href="/post/{{id}}">
    <div class="bg-slate-700 shadow-lg w-1/2 rounded-2xl flex-column px-8 pt-6 pb-8 mb-4 mx-auto signUp-form">
        <div class="mb-4">
            
            <h1 class="block text-slate-200  font-bold mb-2">
                {{title}}
            </h1>
        </div>
        <div class="mb-4">
            <h3 class="block text-slate-200 mb-2 h-1/5">
                {{body}}
            </h3>
        </div>
        <h4 class="text-slate-200 justify-content-right">
            -{{user.username}}
        </h4>
    </div>
    </a>
{{!--  --}}
{{/each}}