
<div class="bg-slate-700 shadow-lg w-1/2 rounded-2xl flex-column px-8 pt-6 pb-8 mb-4 mx-auto">
    <div>
      <h2 class="text-white p-5 flex justify-center items-center">Update your post below</h2>
    </div>
    <div class="mb-4">
      <label class="block text-slate-200 text-sm font-bold mb-2" for="titleInput">
        Title
      </label>
      <input
        class="shadow-lg border-2 rounded-full w-full py-2 px-3 text-gray-700 border-blue-400 focus:outline-none focus:shadow-outline"
        id="titleInput" type="text" placeholder="Title">
    </div>
    <div class="mb-4">
      <label class="block text-slate-200 text-sm font-bold mb-2 h-1/5" for="bodyInput">
        Body
      </label>
      <input
        class="shadow-lg border-2 rounded-full w-full py-2 px-3 text-gray-700 border-blue-400 focus:outline-none focus:shadow-outline"
        id="bodyInput" type="text" placeholder="body">
    </div>
    <a>
      <div class="flex items-center justify-center">
      <button
        class="transform transition duration-200 hover:scale-110 hover:shadow-md bg-blue-500 hover:bg-blue-700 rounded-full text-white font-bold py-4 px-6 mt-8 rounded focus:outline-none focus:shadow-outline"
        type="click"
        id="postButton">
        Post
      </button>
    </div>
    </a>
  </div>

      <script src="/js/addPost.js"></script>